<br/>
<hr>
<h3 style="font-size: 30px; text-align: center;">Gift Cards Available</h3>
<hr>
<br/>
<p>Users can come to this page and look for the available gift cards by a name.</p>

<div style="margin-left: 10px;">
			<input id="input" placeholder="Search a giftcard by name">
			<button class="btn" id="searchBtn"><i class="fa fa-search"></i></button>
</div>
		
<br/>

<table>
	<thead>
		<th>Name</th>
		<th>Quantity</th>
		<th>Price</th>
	</thead>
	<tbody>
		{{#each GiftCards}}
			<tr>
				<td>{{name}}</td>
				<td>{{quantity}}</td>
				<td>{{price}}</td>
				<td><button onlclick="deleteGiftCard({{giftCardID}})"><i class="fa fa-minus"></i></button></td>
				<td><a href="/giftCards/{{giftCardID}}">Update</a></td>
			</tr>
		{{/each}}
	</tbody>
</table>

			/*<button id= "addBtn" style="width: 60px; margin-left: 950px; margin-top: 5px; margin-bottom: 4px;">Add</button>
			*/
