
		<br/>
		<hr>
		<h3 style="font-size: 30px; text-align: center;">Order History</h3>
		<hr>
		<br/>
		<p>Users can come to this page and search for orders by Order Id.  This will update
		the page with all the order lines associated with that particular Order Id.</p>
		
   
		<div>
			<form>
				<input type="text" id="recipient" value="678901">
				<button id="showTable" style="width: 60px; margin-top: 5px; margin-bottom: 4px;">Submit</button>			
			</form>
		</div>

			<h3>Orders for Order Id:</h1>
			<table>
				<thead>
						<th>Order ID</th>
						<th>trackerID</th>
						<th>Sender Email</th>
						<th>Recipient Email</th>
						<th>Amount</th>
						<th>Gift Card Received</th>
        			</thead>
        			<tbody>
					<tr>
				      		  <td>{{orderID}}</td>
						  <td>{{trackerID}}</td>
						  <td>{{sender_email}}</td>
						  <td>{{recipient_email}}</td>
						  <td>{{quantity}}</td>
						  <td>{{name}}</td>
				   	</tr>
				</tbody>
		  	</table>
