	<br/>
	<hr>
	<h3 style="font-size: 30px; text-align: center;">Place an Order</h3>
	<hr>
	<br/>

	<p>Users will be able to come to this page to place their orders.
		They will put in their name, the name and email of the recipient,
		pick a reward, and type in an amount.  They can click the "+" button
		to add another line, or hit "Place Order" to submit their order.</p>

	<br/>
	<div>
				 
			<form id="orders" action="/orders" method="post">
    				Sender Email (optional): <input type="text" name="sender_email"><br>
    				Recipient Email: <input type="text" name="recipient_email"><br>
    				GiftCard Name: <select name="giftcard"> 
        				{{#each giftCards}}
        					<option value="{{giftCardID}}">{{name}}</option>
        				{{/each}}
    				</select><br>
    				Price: <input type="number" name="price"><br>
    				<input type="submit" value="Submit">
 			</form>
			<br/>

			<input type="button" id="addLines" value="+">Add Order</button><br>
			<br/>

	</div>

	<button id="placeOrder" style="width: 120px; margin-top: 5px; margin-bottom: 4px; margin-left: 620px;">Place Order</button>

	<br/>
	<div style="margin-left: 50px;">
			<table>
				<thead>
					<th>Sender Email</th>
					<th>Recipient Email</th>
					<th>GiftCard Name</th>
					<th>Quantity</th>
				</thead>
				<tbody>
					{{#each orders}}
					<tr>
						<td>{{sender_email}}</td>
						<td>{{recipient_email}}</td>
						<td>{{name}}</td>
						<td>{{quantity}}</td>
					</tr>
					{{/each}}
				</tbody>
			</table> 
	</div>
