<html>

    <div class="nav" id="myNav">
    	<div style="align-items: center;">
    	    <ul>
    		    <li><a href="index.html">Home</a></li>
    		    <li><a href="/senders">Senders</a></li>
    		    <li><a href="/recipients">Recipients</a></li>
    		    <li><a href="/giftcards">GiftCards</a></li>
    		    <li><a href="/orders">Orders</a></li>
    	    	<li><a href="/orderhistory"class="current">Orders History</a></li>
    	    </ul>
    	</div>
	</div>
		
	<br/>
	<hr>
	<h3 style="font-size: 30px; text-align: center;">Order History</h3>
	<hr>
	<br/>
	<p>Users can come to this page and search for orders by their orderID.  This will update
	the page with all the order lines associated with that particular orderID.</p>

	<div>
		<form id='search_orderhistory' action='' method=''>
			<!--- this form does not submit directly, the button handles all the interaction with backend -->
    		<label> Search OrderHistory by orderID:</label>
    		<input id='orderhistory_search_string' type='text' name='orderhistory_search_string' value=''>
    		<input type="button" value="Search" onclick="search_orderhistory()">
		</form>
	</div>

	<h3>Previous Orders:</h3>
    <table>
        <thead> 
            <th>orderID</th> 
            <th>trackerID</th> 
            <th>sender email</th>
            <th>recipient email</th>
            <th>reward name</th>  
            <th>amount</th>  
        </thead> 
        <tbody>
            {{#each OrderHistory}} 
            <tr> 
                <td>{{orderID}}</td> 
                <td>{{trackerID}}</td> 
                <td>{{sender_email}}</td>
                <td>{{recipient_email}}</td> 
                <td>{{name}}</td>
                <td>{{amount}}</td>
            </tr> 
            {{/each}} 
        </tbody> 
</table> 

</html>
