<html>
    <div class="nav" id="myNav">
    	<div style="align-items: center;">
    	    <ul>
    		    <li><a href="index.html">Home</a></li>
    		    <li><a href="/senders">Senders</a></li>
    		    <li><a href="/recipients" class="current">Recipients</a></li>
    		    <li><a href="/giftcards">GiftCards</a></li>
    		    <li><a href="/orders">Orders</a></li>
    	    	<li><a href="/orderhistory">Orders History</a></li>
    	    </ul>
    	</div>
	</div>
		
	<br/>
	<hr>
	<h3 style="font-size: 30px; text-align: center;">Recipients</h3>
	<hr>
	<br/>
	<p>Recipients can come to this page and search for orders by their name.  This will update
	the page with all the order lines associated with that particular name.</p>

	<div>
		<form>
			<input type="text" id="recipient"></input>
			<button id="searchTable" style="width: 60px; margin-top: 5px; margin-bottom: 4px;">Submit</button>			
		</form>
	</div>
	
	<h3>Add a new recipient:</h3>
    <form id="addrecipient" action="/recipients" method="post">
      Order ID: <input type="number" name="orderID"><br>
      Recipient Email: <input type="text" name="email"><br>
      Giftcard name received: <input type="text" name="name"><br>
      The amount of the giftcard: <input type="number" name="amount"><br>
      <br>
      <input type="submit" value="Submit">
    </form>
    <br/>
	
	
	<h3>Orders for Recipient:</h3>
    <table>
        <thead> 
            <th>orderID</th> 
            <th>trackerID</th> 
            <th>email</th>
            <th>name</th>  
            <th>amount</th>  
        </thead> 
        <tbody>
            {{#each recipients}} 
            <tr> 
                <td>{{orderID}}</td> 
                <td>{{trackerID}}</td> 
                <td>{{email}}</td> 
                <td>{{name}}</td>
                <td>{{amount}}</td>
                <td><button onclick="deletePerson({{id}})">Delete</button></td>
                <td><a href="/people/{{id}}">Update</a></td>
            </tr> 
            {{/each}} 
        </tbody> 
</table> 

</html>
