<html>

    <div class="nav" id="myNav">
    	<div style="align-items: center;">
    	    <ul>
    		    <li><a href="index.html">Home</a></li>
    		    <li><a href="/senders" class="current">Senders</a></li>
    		    <li><a href="/recipients">Recipients</a></li>
    		    <li><a href="/giftcards">GiftCards</a></li>
    		    <li><a href="/orders">Orders</a></li>
    	    	<li><a href="/orderhistory">Orders History</a></li>
    	    </ul>
    	</div>
	</div>
		
	<br/>
	<hr>
	<h3 style="font-size: 30px; text-align: center;">Senders</h3>
	<hr>
	<br/>
	<p>Senders can come to this page and search for orders by their name.  This will update
	the page with all the order lines associated with that particular name.</p>

	<div>
		<form>
			<input type="text" id="sender"></input>
			<button id="searchTable" style="width: 60px; margin-top: 5px; margin-bottom: 4px;">Submit</button>			
		</form>
	</div>
 
    <table>
        <thead> 
            <th>email</th>
            <th>name</th>  
            <th>amount</th>  
        </thead> 
        <tbody>
            {{#each senders}} 
            <tr> 
                <td>{{email}}</td> 
                <td>{{name}}</td>
                <td>{{amount}}</td>
                <td><button onclick="deletePerson({{id}})">Delete</button></td>
                <td><a href="/people/{{id}}">Update</a></td>
            </tr> 
            {{/each}} 
        </tbody> 
</table> 

  <h3>Add a new sender:</h3>
    <form id="addsender" action="/senders" method="post">
      Sender Email: <input type="text" name="email"><br>
      Giftcard name to send: <input type="text" name="name"><br>
      The amount of the giftcard: <input type="number" name="amount"><br>
      <br>
      <input type="submit" value="Submit">
    </form>
    <br/>

</html>
